.relative {position: relative; }

.pull-left { float: left; }
.pull-right { float: right; }

img.no-border {
    border: 0 !important; 
    box-shadow: none !important;
}

img.inline {
    background: transparent !important;
    height: 1em;
    position: absolute;
    top: 0px;
}

span.key {
    font-family: monospace;
    font-size: .8em;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 1px 4px;
}

p.power {
    float: right;
    border-width: 4px;
    border-style: solid;
    border-radius: 25px;
    font-family: monospace;
    font-size: .8em;
    font-weight: bold;
    width: 1.2em;
    height: 1.2em;
    margin-top: -20px
}