doctype html
html(lang="pt_BR")
    head
        title Apresentações, por Paulo Diovani Gonçalves
        link(rel="stylesheet",type="text/css",href="css/bootstrap-superhero.min.css")
    body
        div.container

            div.row
                div.col-md-12
                    div.page-header
                        h1 Slides 
                            small Lista de apresentações
                        address por 
                            a(href="http://blog.diovani.com") Paulo Diovani Gonçalves

            div.row
                div.col-md-12
                    div.list-group
                        each p in presentations
                            a.list-group-item(href=p.url)
                                h4.list-group-item-heading= p.title
                                p.list-group-item-text= p.description

            div.row.footer
                div.col-md-12.well
                    a(rel="license",href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
                        img(alt="Creative Commons License",style="border-width:0",src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png")
                    a(rel="license",href="http://creativecommons.org/licenses/by-nc-sa/4.0/") Licença Creative Commons Atribuição - Não comercial - Compartilhamento pela mesma licença 4.0 Internacional

